@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background: #aaa;
    color: #333;
  }

p {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    align-items: stretch;
    justify-content: space-between;
    display: flex;
    /* margin: 0 -10px; */
    padding: 0px;
    column-gap: 20px;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }

.hero{
    height: 238px;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 0 200px;
}

.logo h1{
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}

.content {
    display: flex;

}

.image {
    background-color: darkgrey;
    width: 520px;
    height: 230px;
}

.items{
    height: 50px;
    color: #1f2937;
    background-color: #ffffff;
}

.quote {
    height: 50px;
    color: #1f2937;
    background-color: #e5e7eb;
}

.call-to-action {
    height: 50px;
    color: #1f2937;
    background-color: #ffffff;
}

.footer {
    height: 50px;
    background-color: #1f2937
}

button {
    padding: 8px 16px;
    border-radius: 8px;
  }
  
  button.continue {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }